@import
url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100; 0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
--azulclaro: #48D6ED;
--azuloscuro: #337AB7;
--azulnegro: #303342;
--negro: #333333;
--negro2: #000;
--gris: #B2B3B3;
--fondo: #FFFEFC;
--verdeazul: #157A8A;
--Magenta: #9C2759;
--blanco: #fff;
--degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
*{
margin:0;
}
body{
font-family: 'Roboto', sans-serif;
 font-size: 16px;
 background: url("../img/index/slide2.png");
 background-position: 50% 30%; 
}
h1,h2,h3,h4,h5{
font-family: 'Marcellus', serif;
}
.contenedor1{
    display: grid;
    grid-gap: 28px;
    grid-template-columns: repeat(1, auto);
    grid-template-areas: "contenedor2 "
                         "formulario ";
    
}
.centrado{
    display: flex;
    justify-content: center;
    align-items: center;

}
.contenedor2{
    background-color: #0b3860bb;
    color: var(--blanco);
    text-align: center;
    grid-area: contenedor2;
    min-width: 20em;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
}
h1{
    font-size: 2em;
}
.formulario{
    display:grid;
    justify-content: center;
    align-items: center;
    background-color: #ffffff52;
    width: 25em;
    height: 46em;
    border-radius: 12px;
}
input, select{
    width: 100%;
    margin-bottom: 1em;
    border-radius: 3px;
    border-style: none;
    color: #0B3860;
}
.radio{
    width: auto;
    
}
.genero{
    display: flex;
    grid-gap: 5px;
}
.boton{
    background-color: var(--negro2);
    width: 10em;
    height: 2em;
    color: var(--blanco);

}
.boton:hover{
    background-color: var(--blanco);
    width: 10em;
    height: 2em;
    color: var(--negro2);

}
.nada{
    display: none;
}

@media screen and (min-width: 1024px){
    
    .nada{
        display: block;
        
    }
    .nada2{
        display: none;
    }
    .contenedor1{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-areas: "contenedor2 "
                             "formulario ";
                             
    }
    .contenedor2{
        background-color: #0b3860bb;
        color: var(--blanco);
        grid-area: contenedor2;
        min-width: 25em;
        min-height: 900px;
        width: 25em;
        padding: 0;
        margin: 0;
    }
    .formulario{
        background-color: #ffffff52;
        width: 40em;
        height: 46em;
        border-radius: 12px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    input, select, label, button, h1{

        display: none;
    }
    br{
        display: none;
    }
    .form{
        min-width: 600px;


    }
}